<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <th:block th:include="fragments/heading" />

    <!-- TODO #3: 권한에 맞는 링크 노출 -->
    <ul>
        <li sec:authorize="hasAuthority('ROLE_TEACHER')">
            <a href="/teacher/1">for Teachers</a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_STUDENT')">
            <a href="/student/2">for Students</a>
        </li>
    </ul>

</body>
</html>
